* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
}

/* sheared style */

.primary-btn {
    padding: 13px 27px;
    background: #006a50;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    border: none;
}

.section-title {
    font-size: 32px;
    color: rgb(14, 14, 14);
    font-weight: 700;
    padding-bottom: 25px;
}

.section-para {
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 25px;
    line-height: 19px;
}


/* Navbar section */
.navbar {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 128px;
}

.logo {
    font-size: 25px;
    color: #0e0e0e;
    font-weight: 700;
}

.btn {
    padding: 12px 24px;
    border: 1px solid #006a50;
    border-radius: 6px;
    font-size: 14px;
    color: #006a50;
}

/* Banner Section Here */

.banner {
    height: 89vh;
    width: 100%;
    padding: 16px 128px 32px 128px;
}

.banner-container {
    height: 100%;
    width: 100%;
    background: #c6e4d6;
    padding: 64px 80px;
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
}

.banner-contant h4 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 12px;
}

.banner-contant h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    color: #0e0e0e;
    padding-bottom: 19px;
}

/* pillare section here */

.pillare {
    padding: 32px 128px;
}

.pillare-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
}

.pillare-card {
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
    background: #ffffff;
    padding: 19px;
}

.pillare-card h4 {
    color: #0e0e0ecc;
    font-weight: 700;
    padding: 20px 0px 9px 0px;
}

.pillare-card p {
    color: #0e0e0eb3;
    line-height: 19px;
}

/* vision-of-future section here */

.vision-of-future {
    width: 100%;
    padding: 32px 128px;
}

.vision-card-container {
    display: flex;
    justify-content: space-between;
    gap: 19px;
    width: 100%;
}

.vision-card {
    padding: 25px;
    width: 100%;
    border-radius: 13px;
}

.vision-card h4 {
    padding: 20px 0px 9px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
}

.vision-card p {
    color: #0e0e0eb3;
    height: 80px;
    font-weight: 400;
    line-height: 19px;
}

.vision-btn {
    padding: 9px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    color: #ffffff;
}


/* comment section */
.comment {
    padding: 0px 128px 32px 128px;
}

.comment-contant {
    padding: 38px 19px;
    border: 1px solid #0e0e0e26;
    border-radius: 12px;
    background: #ffffff url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}

.comment-para {
    font-weight: 400;
    color: #0e0e0eb3;
    padding-bottom: 25px;
    line-height: 19px;
    padding-bottom: 9px;
}

.comment-profile h4 {
    font-size: 16px;
    font-weight: 600;
    color: #0e0e0ecc;
    padding-bottom: 3px;
}

.comment-profile p {
    color: rgba(14, 14, 14, 0.6);
}

/* opinion section here */
.opinion {
    padding: 32px 128px;
}

.table-wraper {
    background: #ffffff;
    width: 100%;
    padding: 25px;
    border-radius: 12px;
}

table {
    border: 1px solid #0e0e0e26;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #0e0e0e26;
    padding: 19px;
    text-align: left;
    font-weight: 500;
    color: #0e0e0e;
}

th {
    background: rgb(198, 228, 214);
    text-align: left;
    padding: 19px;
    font-size: 18px;
    font-weight: 600;
    color: #0e0e0e;
}

select {
    border: 1px solid #0e0e0e;
    border-radius: 3px;
    background: #c6e4d6;
    padding: 10px 14px 10px 14px;
    font-weight: 500;
}


/* newsletter section  */

.newsletter {
    padding: 32px 128px 64px 128px;
}

.newsletter-content {
    padding: 64px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #c6e4d6;
    border-radius: 19px;
}

.newsletter-content h4 {
    color: #0e0e0e;
    font-size: 32px;
    font-weight: 700;
}

.newsletter-content p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.subscribe-from {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 480px;
    border: none;
    padding: 14px 32px;
    border-radius: 6px 0px 0px 6px;
    background: #ffffff;
    outline: none;
}

.subscribe-btn {
    border-radius: 0px 6px 6px 0px;
    background: #006a50;
    padding: 14px 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

/* footer section here */

.footer {
    background: #ffffff;
    padding: 40px 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

hr {
    color: #0e0e0e;
}

.social-icone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icone img {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}




/* 
Banner Bg : #c6e4d6
vision future card BG:1. #d5e1f5 button: #5490f5  2. #c6e4d6 button: #049f59 3. c button: #ffc239

*/